* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #17202a;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tudo {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 28rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #212f3d;
    gap: 20px;
    border-radius: 20px;
}

.caixas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caixas input, button {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    justify-content: center;
}

h1 {
    color: white;
}

.esqueci {
    color: white;
    font-size: 75%;
    text-align: center;
}

.login {
    margin-top: 40px;
}

.login:hover {
    background-color: #17202a;
    color: white;
}

.texto{
    color: white;
    font-size: 80%;
}